[2018-08-01 10:32] raae opened #4 "Refactor fetchOembedProviders and fetchOembed to use async / await"
Remove the use of .then() and
use async/await instead on the
fetchOembedProviders and
fetchOembed functions in the helper.js file.

[2018-08-01 10:36] raae opened #5 "Some providers do not have schemes"
The ombed.com provided list is not complete. We should probably add a way to patch providers ourselves. Most notably YouTube has no schemes.

I have created an issue and commented on an issue in the oembed project.
* iamcal/oembed#300
* iamcal/oembed#100

[2018-08-01 10:40] raae opened #6 "How should we handle oembed html script tags"
Some omebed enspoint response html includes script tags. These are not executed as React uses innerHtml and script execution is stopped.

@testower is working on an interesting solution using jsdom. In that case we will be able to get prerendered results wich is nice. Because these oembeds with script tags make the content jump arround.

Another solution is to strip these tags and then somehow run

[2018-08-01 10:49] raae commented on #4
Remember to

* Pull in resent changed `git pull`
  * Or click the little wheel in the bottom left corner of vscode
* Then create a new branch `git checkout -b async-await`
  * Or click "master" in the bottom left corner of vscode.
* Do your changes
* Delete the .cache folder before running `gatsby develop` after you have made changes
* Make sure your changes are running without errors
* Then commi

[2018-08-01 12:14] olavea commented on #4
Ok!

[2018-08-02 11:53] raae commented on #6
If we are going to do it in the same way as the twitter plugin, then we can use this for instagram: `window.instgrm.Embeds.process()`.

[2018-08-02 12:36] testower commented on #6
That assumes that the script has been already loaded right?

[2018-08-02 14:00] raae commented on #6
Yes, just wanted it for future reference.

[2018-08-03 10:48] olavea commented on #4
Yesterday I watched Wes Bos videos on Asyn / await in his es6 series
Today I re-watched Wes Bos videos on Asyn / await in his es6 series

Getting closer

[2018-08-03 11:52] olavea commented on #4
Is this what we are dealing with here? We are going to catch errors we pull in from the oembed api's before the data break the code in our plugin?

[2018-08-03 14:24] raae commented on #4
The task is probably smaller than you think. No change in functionality.

Example code as we have it:
[code]
exports.fetchSomething = async () => {
  const response = await axios.get(SOME_URL);
  return response.data;
};
[code]

[2018-08-04 05:41] olavea commented on #4
Feel I had some progress today take a look at this blog post:  http://olavea.com/function-gatsbyjs-plugin/

[2018-08-07 07:56] olavea commented on #4
I saw the "The task is probably smaller than you think. No change in functionality.
Example code as we have it:"
comment today...

[2018-08-08 06:48] raae commented on #4
What I saw on your computer looks correct.

[2018-08-08 06:52] raae opened #11 "Include/exclude providers in options"
What options do we need?

My thoughts:
* white and/or blacklist of providers
* indicate the use of plain link: `https://www.youtube.com/embed/2Xc9gXyf2G4` or this style `oembed: https://www.youtube.com/embed/2Xc9gXyf2G4` or both

[2018-08-14 18:07] raae commented on #6
For now do it the same way the twitter plugin does it.

[2018-08-15 06:09] raae opened #15 "Better error handling of errors"
Try catch in process node so errors are logged, but do not stop processing of remaining nodes.
Try catch in the main function to catch error getting provider or another type of error.

[2018-08-15 06:33] raae opened #16 "Better transform node"
Some endpoints are not rich, should have support for that.

[2018-08-15 07:26] raae commented on #5
I am thinking there should also be an option for developers to add schemas. In case we do not get them all in our fix.

[2018-08-15 07:46] raae opened #18 "Some endpoint urls have {format} in them resulting in 404 errors"
Simply replace {format} with "json".

[2018-08-15 07:59] #18 closed

[2018-08-15 10:08] raae commented on #11
Could you start looking at this @olavea ?

A first step would be to see if you can console log the option in the main function of the plugin. Ie. after this line `module.exports = async ({ markdownAST }) => {` in the index.js file.

To figure out how options work you can see if the plugin authoring docs have any info on it: https://next.gatsbyjs.org/docs/plugin-authoring/.

[2018-08-15 12:43] raae commented on #11
We figured out options are sent as the second argument to, see pluginOptions `module.exports = async ({ markdownAST }, pluginOptions) =>`.

Later we need to use these options. I will make concrete tasks for doing this for @olavea .

[2018-08-16 11:06] olavea commented on #11
Today I will:
–try to remember what @raae showed me yesterday
–do what i remember a couple of times
–write up a sketchnote, take a photo of it and link to the photo here

[2018-08-18 08:29] raae commented on #11
Today we will try to create a filter function that uses the whitelist option and only returns providers named in the filter function.

To prepare:
- Do javascript30 array cardio: https://courses.wesbos.com/account/access/58a46a31daf7a2764345612a/view/194130346
- Focus on the filter of inventors examples
Then
- Checkout out branch origin/option-#11 by clicking the small master label in bottom left

[2018-09-08 16:35] raae commented on #15
Figure out how other plugins get good looking console outputs.

[2018-09-12 08:52] raae opened #23 "Plain link and/or prepended with "oembed:" option"
Indicate the use of plain link: https://www.youtube.com/embed/2Xc9gXyf2G4 or this style oembed: https://www.youtube.com/embed/2Xc9gXyf2G4 or both in options.

[2018-09-12 08:52] raae commented on #11
Moved "indicate the use of plain link: https://www.youtube.com/embed/2Xc9gXyf2G4 or this style oembed: https://www.youtube.com/embed/2Xc9gXyf2G4 or both" to its own issues. #23

[2018-09-12 08:52] #11 closed

[2018-09-12 08:53] raae opened #24 "Add scrips based on provides include/exclude options"
No need to load the Twitter script if Twitter is excluded.

[2018-09-26 13:58] amykapernick opened #25 "Links not resolving"
Is this plugin functioning yet? I definitely want something like this but it's not working for me

Markup
[code]
Gatsby Config
[code]

Does anything need installing for the plugin?

My repo is https://github.com/amykapernick/amygoestoperth.git, current dev branch is `netlify-gatsby`

[2018-09-27 09:03] raae commented on #25
How exciting that you found it and are asking about it!

It is very close to finished, but I need to finalize the options and make sure unneeded scripts are not loaded. Also, docs are needed. I have a date for someone to test it in a week and a half, so an alpha version will be done by then.

However, the master branch should work as of now. I think the error might be in the config. Mine looks lik

[2018-09-27 13:12] amykapernick commented on #25
I want to be able to include Twitter/Instagram/Codepen links in my markdown files and have them embed in my blog posts

The config seems to be working now but it's still giving an error when I try and run it

[code]

[2018-09-27 14:34] raae commented on #25
Looks like there are some eslint configurations messing things up. I am updating my project to the latest gatsby to see if I can reproduce it.

[2018-09-27 14:56] raae commented on #25
The starter I was using overrides the eslint options, so I have not gotten these warnings. But managed to reproduce and have added a eslint configuration comment to the file that was creating problems.

Please try again with latest from the master branch and let me know how it goes. Its very motivation for me that someone is actually wanting to use it. So that might speed up development a little.

[2018-09-27 17:06] #24 closed

[2018-09-27 17:08] raae opened #27 "Refactor code"
Especially the too long helper.js file and helper.test.js file. It could become several util files under utils/.

[2018-09-27 17:09] raae opened #28 "Move repo to @raae"
Move it to @raae so it becomes easier discoverable when I get raae.codes going.

[2018-10-01 15:08] amykapernick commented on #25
That's fixed it and it's embedding my links now thanks!

I'm getting issues with my Netlify build though, it's failing and seems to be related to this plugin as it doesn't occur when I remove it

[code]

[2018-10-02 05:07] raae commented on #25
Thanks for testing. Probably not the most efficient code as of now. Will have a look at this week.

[2018-10-02 18:18] #28 closed

[2018-10-02 19:58] raae commented on #25
I have tested with a small example site with two links and got it running on Netlify. See https://gatsby-remark-oembed.netlify.com/hi-folks/. The deployed repo it this one: https://github.com/raae/gatsby-remark-oembed-example-site.

How many oembed links do you have? It might be it fails at a certain amount. Will try to increase and test more this week.

[2018-10-03 12:13] raae commented on #25
I think I have a solution, just deployed a site with almost 40 pages that each included 6 oembed links.

To test use the memory-problem branch, and let me know if that helps.

FYI. This repo changes address from `lillylabs/gatsby-remark-oembed` to `raae/gatsby-remark-oembed`.

[2018-10-04 05:53] amykapernick commented on #25
So it's not failing, but it's also not resolving the links now:
[code]

You can see an example of one of the posts here - https://5bb5a98ec965925f69f7c63a--amygoestoperth.netlify.com/ddd-perth-2018/ and I'm doing the work on this branch https://github.com/amykapernick/amygoestoperth/tree/dev

[2018-10-04 11:39] raae commented on #25
Just got off a video call with the Gatsby team. Their cache api broke for plugins (potentially only remark sub-plugins) with 2.0.18. If you use 2.0.17 it should work.

[2018-10-04 11:46] raae opened #30 "Using the repo as a npm module produce jsx failure"
[code]

[2018-10-04 11:47] raae commented on #30
Should be able to fix by using React.createElement

[2018-10-04 13:47] #30 closed

[2018-10-05 07:50] raae commented on #25
The cache bug issue can be found at gatsbyjs/gatsby#8788.

[2018-10-06 12:55] amykapernick commented on #25
Whoo! Finally working 👍

Thanks for all your help and work on the plugin

[2018-10-08 13:16] amykapernick commented on #25
It's live now and the Netlify build is working fine! I'm currently using it on [http://amygoestoperth.com.au](http://amygoestoperth.com.au) and will be implementing it on 2 more sites soon!

[2018-11-01 20:48] chmac opened #33 "Ready for use?"
First, thanks for creating this plugin. It's a great idea to be able to throw a simple URL into a post and have it turn into a proper embed. WordPress solves this problem nicely already, and it's great to have something similar in Gatsby.

Is the plugin ready for use? I saw something in another thread about it being ready for alpha in a week or two (which was ~4 weeks ago I think). Is it ready for

[2018-11-02 14:34] raae commented on #33
Hi, thanks for your interest.

It is ready for testing, but I am awaiting a fix for this bug https://github.com/gatsbyjs/gatsby/issues/8788 meaning you have to use a gatsby version between 2.0.0 and 2.0.17. Not above.

To help out right now would be to test it and report back if you have any problems.

[2018-11-05 12:51] chmac commented on #33
Aha, I feared that the Gatsby issue might be a blocker. I think I'm already running a later version. :-( I've posted a follow up on that issue to see where it's at, maybe I can help out there to get it moving.

[2018-12-02 14:30] felipesere opened #34 "Some Twitter links don't load correctly"
I use this plugin to embedd some tweets on my page.
This worked pretty neatly so far, until this morning I noticed that two had loaded the content but not the correct Twitter styling.

There was nothing unusual in the network tab and no errors in the console.

I have attached two screenshots and their respective location in the my site.
Maybe there is something you can spot?

<img width="822" alt=

[2018-12-03 13:03] raae commented on #34
Thanks for reaching out.

When that happens the Twitter javascript has not loaded. Why I am not sure. What gatsby version are you on?

I will try to look into this on Wednesday.

[2018-12-03 17:14] felipesere commented on #34
I am at the latest version of Gatsby that still works with oembed.
If you want to point me in any direction I can give it a whirl.

Do you load the JS via Helmet?

[2018-12-04 08:29] raae commented on #34
I think it might have to do with using a popup. The Twitter code needs to be ran after the content is on the page.

[2018-12-04 08:30] raae commented on #34
So either have it on the page, but hidden, so the js picks it up when page load is done. Or  manually run the code.

[2018-12-05 13:51] felipesere commented on #34
I've had to do it via a `setTimeout(() => loadTwitter(), 100)` because I can't tell when react will have rendered my component into the DOM... 😢

[2019-01-16 18:09] raae commented on #25
I have been able to confirm that it is not working locally for me too, but I have not had time to look into it yet. Hopefully, I will this weekend.

[2019-01-17 17:43] raae commented on #25
You must make sure to use latest gatsby-transformer-remark. Update by `npm install --save gatsby-transformer-remark`, then you package.json should update to "gatsby-transformer-remark": "^2.2.0".

[2019-01-17 20:08] #34 closed

[2019-01-19 05:39] nickytonline opened #36 "Code snippet example in read me does not work"
Hi, thanks for this awesome plugin. I noticed the code snippet in the read me is missing your scoped package name. Without it, gatsby can't find your plugin. A little docs PR coming up.

[2019-01-19 07:49] #36 closed

[2019-01-19 12:36] raae commented on #33
It should now be ready for use.

[2019-01-19 12:36] #33 closed

[2019-01-19 16:00] raae commented on #25
Let me know if it works @amykapernick.

[2019-02-09 07:40] raae commented on #15
Logging in Gatsby thread https://spectrum.chat/gatsby-js/general/custom-logging-during-gatsbys-lifecycle~91570f61-7289-4d70-b507-cc67eb45c145

[2019-02-15 17:04] jbhannah commented on #34
I've run into a similar issue: visiting a page with an embedded tweet doesn't load the Twitter embed code on the initial page load, but subsequent navigation between pages does trigger the change.

[2019-02-15 17:07] jbhannah commented on #34
Looking at the code, I think this may be why:

https://github.com/raae/gatsby-remark-oembed/blob/bb1df40dc139e886eeba4f04c8c0db7a468e0383/gatsby-browser.js#L23-L26

These might also have to be called [`onInitialClientRender`](https://www.gatsbyjs.org/docs/browser-apis/#onInitialClientRender). (My [homepage](https://jbhannah.net) is where I've run into this.)

[2019-02-16 20:42] raae commented on #34
Could you test going directly to https://gatsby-remark-oembed.netlify.com/twitter/, that is a page with an embedded tweet.

Will try to look more into this next week.

[2019-03-11 15:50] florinpop17 opened #39 "Custom styling to Codepen iframe"
Is it possible to add styles like: `width` and `height` to a Codepen Embed?

[2019-03-11 15:56] #39 closed

[2019-03-11 15:57] florinpop17 commented on #39
I found the class in the iframe afterall! 😅

[2019-03-11 19:23] raae commented on #39
Great news, any and all issues makes me happy because it means my plugin is in use and that makes me happy :D

[2019-03-13 20:24] raae commented on #39
This will actually be possible after pull request #38 is merged as long as the provider supports it.

It seems Codepen only has support for height: https://blog.codepen.io/documentation/api/oembed/#height-adjusting-5

[2019-03-13 20:29] florinpop17 commented on #39
Well, you can set the desired width and height on the iframe in your CSS.

[2019-03-19 15:55] rayriffy opened #40 "Disable logging"
This plugin is always flooding my console all the time. Is there any options to disable them?

![](https://storage.rayriffy.com/files/image/71Z9ipFs3wLqDZwrBD.png)

[2019-03-19 17:53] raae commented on #40
Not yet!

Thanks for letting me know this is an issue for you :D

[2019-03-23 09:58] rayriffy commented on #40
I reccomended to make some pattern for this plugin to avoid any scaning other URLs.
For an exmaple, https://gist.github.com/rayriffy/12651d2ba8db582846f2bf8497ffdde1

[2019-03-23 10:04] rayriffy opened #41 "oEmbed cannot override given parameters from returned embeded URL"
## Analysis

For an example, I want to add this SoundCloud song to the site

https://soundcloud.com/r4yr1ffy/secret-garden-remix

With no configuration, SoundCloud oEmbed will return embed URL with attached `visible=true`  and `show_artwork=true` property, too.

(I formatted it for easier readability)

[code]

## Encounter Problem

With following configuration

[code]

Every configuration is worki

[2019-03-24 04:08] amykapernick commented on #25
Hey @raae sorry took me a while to get back to this. All working now and using this on a few sites!

[2019-03-24 04:08] #25 closed

[2019-03-24 04:08] amykapernick commented on #25
Working now

[2019-03-24 22:43] raae commented on #41
Yes, that is the logical next step.

Would you like to have a go and create a PR? Otherwise, I will probably have some time next weekend.

[2019-03-27 14:42] #23 closed

[2019-04-08 21:31] florinpop17 opened #45 "Codepen request failed with status code 403"
For some reason since Codepen was attacked, the embeds aren't working anymore on my [blog](https://florin-pop/com/blog/). I get a `Request failed with status code 403` at build time.

Do you think that this is something that can be fixed in this package or maybe is caused by them?

[2019-04-09 06:28] raae commented on #45
I am inclined to think this is because they are trying to prevent dos attacks by shutting down endpoints or something.

Thanks for letting me know, and I will try to figure out where exactly it is failing to see if there is anything we can do.

[2019-04-09 06:33] florinpop17 commented on #45
I think you are right!
Would love to see if you can fix this! ☺️

On Medium the link embeds are working, maybe this could help? See what are they doing to go around it

[2019-04-09 06:43] raae commented on #45
Yes, their oembed endpoint is moved behind a captcha form and also if you try to manually embed iframes it seems iframe embeds are broken.

They might not have done this intentionally so I will let them know. Trying first with a (polite I hope) tweet.

https://twitter.com/raae/status/1115504689355923456

[2019-04-09 07:32] raae opened #47 "Add support for an array of prefixes"
Lets users define their own prefixes like `video:`.

This would give users more control over their content, and also make it easier to migrate from other plugins were other prefixes have been used.

There are plugins for youtube, twitter etc. specifically. And the users of those will probably have lots of content already using a specific prefix.

In config `usePrefix: ["video:", "oembed:"]`.

[2019-04-23 00:11] osj2507 opened #48 "Error on links that is not oembed able"
This is somewhat related to https://github.com/raae/gatsby-remark-oembed/issues/40 but also a bit different, but this issue does the same as for issue 40, my console is flooded.

I am getting a lot of "error No endpoint for ..." because I am using links to other sites that are not oembed enabled and shouldn't be, I am not using the prefix (it is easier that way) but it seems that this tries all li

[2019-04-23 21:40] raae commented on #48
Yes, I totally agree with that and will take that into consideration when solving #40.

[2019-04-28 17:42] mjm commented on #40
I'd like to be able to disable the logging as well (at least for non-error cases). Would you be open to a PR to add an option for that?

(Love the plugin btw)

[2019-04-28 19:44] raae commented on #40
I am going to merge in @rayriffy's latest PR and then do some cleanup (also of issues).

If I do not get to refactoring logging during that work then I would love a PR. I'll let you know by Wednesday :D If not logging there will be other possible tasks.

[2019-04-28 19:46] mjm commented on #40
Cool cool! Just let me know and I’d be happy to contribute :)

[2019-04-29 11:53] #27 closed

[2019-04-29 12:16] raae commented on #45
This seems to have been resolved. Let me know if it still not working for you @florinpop17.

[2019-04-29 12:16] #45 closed

[2019-05-02 09:01] raae commented on #48
Next release will solve this, but having a "summary" as below for everything that is not a proper error.

[code]

[2019-05-02 09:01] #48 closed

[2019-05-02 09:01] raae commented on #40
Next release will solve this, by having a "summary" as below for everything that is not a proper error.

[code]

[2019-05-02 09:02] #40 closed

[2019-05-02 09:02] raae commented on #15
Next release will solve this, by having a "summary" as below for everything that is not a proper error.

[code]

[2019-05-02 09:02] #15 closed

[2019-05-04 17:24] raae opened #55 "Testing version 0.0.7"
I would love to get some help testing 0.0.7.

It fixes the problem up cluttering up the log, but it's also a major refactor and it would be nice to get confirmation that it is still working for y'all.

cc: @osj2507, @florinpop17, @rayriffy, @amykapernick, @mjm @nickytonline

Install the git tag by using `npm install raae/gatsby-remark-oembed#semver:0.0.7`

[2019-05-04 17:25] raae commented on #48
I have made it even denser it now outputs only one summary line per markdown file with oembed links.

[code]

Please test and report back in #55 .

[2019-05-04 17:27] raae commented on #40
I have made it even denser it now outputs only one summary line per markdown file with oembed links.

[code]

Please test and report back in #55 .

[2019-05-04 19:54] nickytonline commented on #55
I'll take a peek later tonight @raae

[2019-05-04 20:52] mjm commented on #55
I can give it a try tomorrow evening!

[2019-05-05 01:52] nickytonline commented on #55
@raae, I installed `raae/gatsby-remark-oembed#semver:0.0.7` and all looks good. No errors in the console and things display properly.

:shipit:

[2019-05-05 08:19] osj2507 commented on #55
If I just install the updated version, my links are no longer converted, am using the non-prefix version.
If I go back, everything works great, so are there any change I need to be aware of setup wise that has changed?

I did get an error at first
Error: Cannot find module 'gatsby-source-filesystem'
Installed that and then got errors like below for all my links

[code]

I will say I am still new t

[2019-05-05 12:37] eshlox commented on #55
It works for me, no errors. ;-)

[2019-05-05 13:29] eshlox commented on #55
I'm not sure if it's related to version 0.0.7 but it tries to transform Markdown links which are surrounded by empty lines.

Example:

[code]

`gatsby develop` logs:

[code]

[2019-05-05 13:59] nickytonline commented on #55
I didn't look for that @eshlox. I'll take a peek later tonight to see if I have this behaviour.

[2019-05-05 16:05] raae commented on #55
If you are not using 'usePrefix: true' it will try to convert all links surrounded by empty lines @eshlox.

[2019-05-05 16:07] raae commented on #55
Will have a look @osj2507, do you have an example markdowns file for me or a repo to look at. And did it work before with 0.0.6?

[2019-05-05 17:23] rayriffy commented on #55
Everything looks good for me!

[2019-05-06 00:28] nickytonline commented on #55
All good on my end still, including links markdown links.

[2019-05-06 03:04] mjm commented on #55
All is working well for me, and the log output is definitely easier to read and understand.

I do still kind of wish that I could silence the successful cases completely though. I have lots of small posts on my site, and many of them have embeds, so the logging is still pretty chatty.

[2019-05-06 04:52] raae commented on #55
I hear you @mjm, will try to add an option for that.

[2019-05-06 13:04] rayriffy opened #56 "Possible DoS attack on current axios version"
More detail
https://snyk.io/vuln/SNYK-JS-AXIOS-174505

[2019-05-14 17:02] raae commented on #55
Nudge @osj2507, do you have any example markdown or repo I could look at to reproduce this error?

[2019-05-14 17:37] raae commented on #55
I read your error message again @osj2507 and it might be something with the cache not cleared after installing the pluging `gatsby-source-filesystem`.

I will release this and then do a separate one for even more silent logging @mjm.

[2019-05-14 17:54] raae opened #57 "Add log level option"
The option should be a choice between info, warn, error.
The option should indicate the lowest level one would like to log to the console.

We are not yet using warn, but its a gatsby reporter possibility.

[2019-05-14 18:05] raae opened #58 "Add providers as a part of options"
There are providers supporting the oembed protocol not found in the oembed.com provider list. It could be popular ones such as Repl.it, but also small personal project.

For both, it would be nice if one could add providers.

I already support adding schemes through the options as its part of the default options. But I have not advertised it, and it does not support adding new providers yet.

[2019-05-14 18:06] raae commented on #5
There is already possible to amend schemes, but not add providers. The latter has gotten its own issue #58.

[2019-05-14 18:06] #5 closed

[2019-05-14 19:48] #55 closed

[2019-05-14 19:51] raae opened #60 "Remove lots from default options"
After @iamcal merged in all my oembed schema changes no need for all these ammends.

[2019-05-14 20:51] raae commented on #58
Found bug, fixing in #60

[2019-05-14 20:51] #58 closed

[2019-05-15 06:18] #60 closed

[2019-05-15 06:19] raae opened #62 "Fix ammend spelling error"
Ammend is spelled amend...

[2019-05-15 06:40] #62 closed

[2019-05-15 06:42] raae commented on #57
You are welcome to do this one if you want to @mjm.

The code should be cleaner and tests better now...

[2019-05-15 17:07] raae opened #64 "Keep a local copy of the provider list"
I do not have any reports of https://oembed.com/providers.json not responding, but it could be nice to have a local copy to fall back if that happens.

It could be cool if the file was downloaded and added to the project on every npm publish or something automatic like that to keep it as current as possible.

[2019-05-19 10:13] rayriffy commented on #56
Closing this because there's look like no issue at all

[2019-05-19 17:06] raae commented on #56
Good to hear! I have not had time to look into it.

[2019-05-24 14:36] raae opened #65 "Spelling error in log"
Great catch by @rayriffy, I have written "Successfull" not "Successfully" or "Successful."

[2019-05-29 02:17] wuz opened #66 "Plugin does not work when configured as a gatsby-mdx gatsbyRemarkPlugin"
Hi there! I'm trying to use this plugin with Gatsby and MDX, but I can't seem to make it work. I've got it listed in the `gatsby-mdx` `gatsbyRemarkPlugins` config, which has worked for other Remark plugins, but can't seem to find twitter links in my page. I'm not sure if where the problem is, but I don't see any errors.

Here is my config for `gatsby-mdx`:

[code]

and here is the output from this

[2019-05-29 07:27] raae commented on #66
Yes, it seems the plugin does not play nicely with `gatsby-mdx` as you experienced.

I have not had time to look into it properly. There was some convo with the `gatsby-mdx`team [on Twitter](https://twitter.com/raae/status/1128404015811846150).

I think it might be an issue with `gatsby-mdx` not handling sub plugin cache properly. The same was a problem with `gatsby-transformer-remark` from Octobe

[2019-05-29 15:55] donaldboulton commented on #66
Does not play well with anything I have tried it on basic gatsby starter or my site = does not work.

[2019-05-30 09:02] #65 closed

[2019-05-30 09:07] raae opened #69 "Gatsby swag anyone ?"
Hey all contributors @rayriffy, @yurm04, @muescha, @kennethormandy, @nickytonline, @testower, and @olavea.

I have gotten a gift card to the Gatsby swag shop as thanks for being a guest on the webinar yesterday. Would any of you like something?

[2019-05-30 09:08] raae commented on #56
It has now turned up as an official security issue! I do not think its to bad for us as we do not use it in the browser and the crash would potentially just crash the build.

[2019-05-30 09:11] rayriffy commented on #47
Cool idea! I will try a workaround with this.

[2019-05-30 10:02] nickytonline commented on #69
That'd be awesome!

I already have a pair of their socks, so if anyone else doesn't have any swag yet go ahead. Otherwise, I definitely wouldn't say no to more Gatsby swag 😉

[2019-05-30 11:13] raae commented on #64
This might be something for you @testower.

[2019-05-30 11:20] testower commented on #64
Cool I'll have a look @raae

[2019-05-30 12:24] yurm04 commented on #69
Nice of you to share!!

I also have some swag from Gatsby so everyone else can have dibs.  After that, I’ve had my eye on that gatsby pin 🙃

[2019-05-30 13:44] rayriffy commented on #69
OMG! I just hear that they also have Gatsby swag lol.

Now I added label pin and sticker pack on my wishlist. (✧ω✧)

[2019-05-30 13:59] raae commented on #69
Will get some for you!

[2019-05-30 14:38] raae commented on #69
We can definitely hook you up with a pin!

[2019-05-30 14:42] raae commented on #69
What type of swag, check out https://store.gatsbyjs.org/? Anything 10 and down should be ok for me to ship from Norway.

[2019-05-30 14:54] raae commented on #66
Take a look at this repo, it is the example site I put together: https://github.com/raae/gatsby-remark-oembed-example-site.

[2019-05-30 14:56] raae commented on #66
@wuz I have spoken to @ChristopherBiscardi on Twitter and he is looking into it.

[2019-05-30 15:13] nickytonline commented on #69
I see the black t-shirts are 10$. If that works, I'd take a large unisex one. Thanks in advance!

[2019-05-30 18:22] raae commented on #56
This has been fixed in v0.19.0.

[2019-06-01 08:22] raae commented on #56
Also a v0.18.1 fix https://github.com/axios/axios/releases/tag/v0.18.1

[2019-06-01 09:18] rayriffy commented on #56
0.19.0 is now on latest stable release. I will open PR to update this thing tonight.

[2019-06-03 19:48] #56 closed

[2019-06-05 22:37] patroza opened #73 "Logging only works with markdown sourced from gatsby-source-filesystem, not contentful"
[code]
*Have more installed, happy to share*

[code]

happens with just `"@raae/gatsby-remark-oembed"` in the plugins of `"gatsby-transformer-remark"` as well as with the given samples for the configuration.

[2019-06-06 16:04] raae commented on #73
Thank you for letting us know, do you have a public repo I could look at?

[2019-06-08 18:01] raae commented on #73
Nudge @patroza?

[2019-06-08 21:04] patroza commented on #73
hi @raae sorry for late reply; don't have the project public right now, but what I found so far is that it probably doesnt support the markdown content to live on contentful instead of on disk?
ie I use `"gatsby-source-contentful"` not `-filesystem`

[2019-06-08 21:22] patroza commented on #73
So it looks like contentful based files have no `relativePath` property, while `gatsby-source-filesystem` expects it to exist.

if in `gatsby-source-filesystem` I replace the `return fileNode` statement with:
` return fileNode.internal.type !== `File` ? undefined : fileNode`

the app works, and the oembed works. it logs:
`info gatsby-remark-oembed: Successfull embeds: 1 | Path: undefined`

[2019-06-09 07:29] raae commented on #73
Thank you for that insight.

This should be easily fixed as I was only trying to make a more informative logging experience. In this case`Path: undefinded`. So it is not crucial to make the plugin work, I'll let you know when this is fixed.

[2019-06-18 10:54] testower commented on #64
Did you try this yet @raae ?

[2019-06-19 07:47] raae commented on #64
Yes and merged!

[2019-06-19 07:47] #64 closed

[2019-06-19 07:51] raae opened #74 "Init scripts also on initialClientRender"
@adamwiggall made me aware we need to `processInstagram` and `loadTwitter` also on `onInitalClientLoad`.

I would combine `processInstagram` and `loadTwitter` in a `initScripts` function and call that both from both `onInitalClientLoad` and `onRouteUpdate`.

The code for this can be found in `gatsby-browser.js`.

[2019-06-19 19:32] raae commented on #69
Will order this weekend. It all has to be shipped to me before I can ship it to you. So this might take some time ;D

[2019-06-19 23:56] nickytonline commented on #69
No rush and thanks for the kind gesture.

[2019-06-20 10:48] raae commented on #69
Would you like a t-shirt as well @rayriffy?

[2019-06-20 16:00] rayriffy commented on #69
I would like a purple MD unisex one, please.

[2019-06-27 11:54] victornguyen commented on #74
In working on this, I've noticed that `onRouteUpdate()` gets [called on the initial page load](https://github.com/gatsbyjs/gatsby/pull/1320) anyway?

I've PR'ed up the change anyway in case making use of `onInitialClientRender()` solves something else I'm not aware of. The option is yours 😄

[2019-07-08 17:23] raae opened #76 "Move to yarn workspace so we can include demo site"
Later the demo site can be used for regression tests in some form.

[2019-07-08 17:24] raae opened #77 "Add contribute.md with detailed instructions for code newbies"
Should probably be done after moving to yarn #76

[2019-07-11 15:22] raae commented on #69
Has arrived in Oslo, will ask for everyone's addresses when I am home from vacay office :D

![D_M2ikxXkAA6lAV](https://user-images.githubusercontent.com/478531/61063560-6ef4c100-a400-11e9-800a-022e9246e8ae.jpg)

[2019-07-11 16:02] raae commented on #73
I am now using the markdown node's id, instead of trying to get the path.

Could you test if it works with contentful by `npm install raae/gatsby-remark-oembed#logging-bug-#73` to use the branch with the fix?

[2019-07-12 19:04] raae opened #80 "Update lodash since current version has security issue"

[2019-07-12 20:02] #47 closed

[2019-07-12 20:17] #80 closed

[2019-07-14 08:13] raae commented on #73
I managed to create a contentful space to test it out and it works fine.

[2019-07-14 08:14] #73 closed

[2019-07-14 09:14] raae commented on #74
I created a contentful project using their starter to test something else. And there I found that `onRouteUpdate()` and `onInitialClientRender()` is called before the page templates `render`.

I think this kind of issue prompted this proposed solution. But it does not fix it as both are called prematurely. I cannot figure out why this is the case and what is causing it. A hack is to let  `onInitia

[2019-07-14 09:19] raae commented on #74
Sorry this only happened in dev mode, not when building and serving.

[2019-07-14 09:45] raae opened #82 "Testing version 0.1.0"
I would love to get some help testing 0.1.0.

You can now configure an array of prefixes. So if you already use `usePrefix: true`, test with `usePrefix: ["oembed", "test"]` and change some of the prefixed links to `` `test: http.....` ``.

cc: @osj2507, @florinpop17, @rayriffy, @amykapernick, @mjm @nickytonline, @testower, @muescha, @yurm04, @victornguyen.

For the next release, I will have set up

[2019-07-14 16:06] patroza commented on #73
Great to hear @raae, sorry for late response, missed notification somehow

[2019-07-16 11:28] testower commented on #82
I found an issue while testing: the prefetched list was ignored by npm pack because of .gitignore, so it needs to be unignored by .npmignore to be included in the package. Added a PR for the fix: #83, @raae

[2019-07-17 07:07] raae commented on #82
Here is an example post!

`usePrefix: ["oembed", "video"]` should result in the video embedding twitce.
[code]

[2019-07-18 21:23] testower commented on #82
Everything looks good to me @raae (except for #83) :)

[2019-07-19 18:21] adamwiggall commented on #74
@raae  I’m pretty sure when we visited a page using oembed with a clean cache embeds didn’t render. Refreshing the page made them render.

[2019-07-21 17:40] maheshkay opened #84 "Missing Dailymotion Support"
I tried embedding the dailymotion video but it seems the plugin does not work with that provider. Is dailymotion suspported?

[2019-07-25 10:32] #74 closed

[2019-07-25 10:34] raae commented on #69
It's through customs and I will be able to pick it up this week. Please send your postal address to raae@raae.codes.

[2019-07-25 11:10] raae commented on #82
It's out as 0.1.1.

When I am done with #76 is done I will move us into proper versioning, starting at 1.0.0 👊

[2019-07-25 11:10] #82 closed

[2019-07-25 11:47] rayriffy commented on #84
Dailymotion is in the oEmbed provider list but sometime some services that included in oEmbed are already shutdown and didn't remove them from the list.
.
There's 2 possibilities
1. Dailymotion already shutdown their oEmbed service...which is not because I can still [be able to send a request](https://www.dailymotion.com/services/oembed?url=https://www.dailymotion.com/video/xmyeia)
2. Your configu

[2019-07-25 12:06] raae commented on #84
Thank you for getting in touch!

Might you be using their short URL?

Testing their oembed endpoint `https://www.dailymotion.com/services/oembed` directly it seems they only support on like this https://www.dailymotion.com/video/x7e55ix works, not this https://dai.ly/x7e55ix.

[2019-07-25 12:09] raae commented on #76
I will work on this!

[2019-08-10 04:36] qipoy opened #85 "how to make responsive twitter embed to mobile device? its available on options ?"

[2019-08-10 15:47] iturpablo opened #86 "Center instagram oembed"
Hi Raae,

 how can I center and embedded an Instagram post, it is always on the left and would love to center it.

Cheers 🍻
Pablo

[2019-08-21 15:37] raae commented on #69
@yurm04 send me your address and you will get a pin (and a pair of socks).

[2019-08-23 04:56] raae commented on #69
We shipped of the swag!
The family helped out :D

![20190822_200429](https://user-images.githubusercontent.com/478531/63567723-01958d80-c573-11e9-8f02-7997074c7986.jpg)

[2019-08-29 20:30] nickytonline commented on #69
The t-shirt has landed @raae. Thanks so much! 🔥🙌💯

![11E50426-228A-40EF-931C-727EB3D58117](https://user-images.githubusercontent.com/833231/63974169-51e08400-ca7a-11e9-8029-6a5bb23b8941.jpeg)

[2019-08-30 05:33] raae commented on #69
Somehow @rayriffy came back to us, will send it again!

[2019-08-30 06:10] rayriffy commented on #69
Don't worry! I can wait (just a little more lol)

![](https://cdn.discordapp.com/attachments/577046038716874762/616876513270431764/IMG_5386.jpg)

PS. Last weekend I hosted the very first Gatsby meetup in Thailand with some help with my friends...that is also the first event that I ever host in my life :)

![](https://cdn.discordapp.com/attachments/577046038716874762/616876847124185118/IMG_5354.jpe

[2019-09-02 09:16] valse commented on #66
Hi @raae, any news about your plugin and mdx support?

[2019-09-21 22:28] anonimoconiglio commented on #66
I'm having the same problem.
Don't know if it's helpful but just noticed that scripts from social media are loaded if I do not use `gatsbyRemarkPlugins` but the old `plugins` instead:

![immagine](https://user-images.githubusercontent.com/22715417/65379801-c9e34800-dcce-11e9-8d42-8702ae19f86b.png)

(although it doesn't respect the "exclude" rule, and treat it like an include, indeed it load twitte

[2019-09-21 22:34] anonimoconiglio commented on #85
you can try `gatsby-remark-responsive-iframe`, it worked for me very well, although it generates some problems with my old posts (they have plenty of html code inside md files so there was some conflicts I didn't have the time to check).

an alternative - that's the one I'm using right now - is to insert a global css media query:

[code]

It is not elegant but it works well...

[2019-09-22 05:44] raae commented on #66
Sorry I have not had time yet to look into mdx support. I have a little mdx experience. Things will slow down in a couple of weeks and I might get a chance to have a look.

[2019-09-25 10:51] 2color commented on #86
I had a similar problem.

I resolved it by overriding the inline CSS `margin: 1px` that the blockquote gets.

I added the following in a separate css file to resolve this:

[code]

[2019-12-30 14:56] raae commented on #76
@testower  did this :D

[2019-12-30 14:56] #76 closed

[2019-12-30 14:57] raae opened #94 "Add (regression?) test to the example site"
It would be great if there was some way to track if the example site changes.

For some PR's it should of course change, but for most, it should not.

[2019-12-30 14:57] raae opened #95 "Add mdx to example site"

[2019-12-30 14:58] raae commented on #86
I will close this as I believe it's solved.

[2019-12-30 14:58] #86 closed

[2019-12-30 14:59] raae commented on #85
Did this help @qipoy?

[2019-12-30 16:33] raae commented on #66
The problem was with me saving the providers to the gatsby cache on `onPreBootstrap`. This is not called when the plugin is used as a sub plugin of gatsby-plugin-mdx.

@Swizec solution is to check if the cache is set and if not fetch the providers. This leads to the providers being fetched a few times, but better than not working at all.

I am working on moving to a mono repo and getting MDX into

[2019-12-30 16:41] raae opened #97 "Change settings so gatsby-remark-oembed.netlify.com builds from this monorepo"

[2019-12-30 20:25] raae commented on #66
Found another issue, the code in gatsby-ssr and gatsby-browser will not be called when its a sub plugin of gatsby-plugin-mdx. There is a workaround, but I need to tweak the code a little so it's not to complicated to set up.

[2019-12-30 20:48] raae opened #98 "Create a theme to be used by both md-site and mdx-site"
We might want to create more sites in the future with different configurations of the plugin and it would be nice to not have to copy/paste everything.

Also, feel free to make a better design if that motivates you :D

[2019-12-30 20:49] raae commented on #95
Closed by #96

[2019-12-30 20:49] #95 closed

[2019-12-30 20:50] raae commented on #77
Move to yarn is done.

[2019-12-30 20:51] raae commented on #84
Did this work for you?

[2020-04-12 23:07] johnnybenson commented on #85
Just sketching an idea, it would _awesome_ if the plugin took a container component in config options that  wrapped embeds like Layout wraps pages like this:

[code]

[code]

[code]

Then we can roll our own responsive containers or whatever else.

[2020-04-13 19:38] raae commented on #85
I like!

This fall I have time to give oembed some much-needed TLC and will look into this.

[2020-05-05 04:13] anindha opened #100 "Unfurl links that don't have oEmbed provider"
I want to replicate the behaviour of Slack or Twitter where all links are transformed into either embeded content or link previews.

I want to merge some of the logic from [gatsby-remark-link-unfurl](https://github.com/hgezim/gatsby-remark-link-unfurl).

Please let me know what you think.

[2020-05-05 08:33] raae commented on #100
That sounds awesome!

It could maybe also be a choice for each provider what to do, maybe for YouTube you do want the embed. But for Twitter, you would like to turn it off and use the unfurl approach instead.

[2020-05-05 08:46] anindha commented on #100
@raae I put up a POC that works for the base case. Your suggestion for having it configurable for each url is a good one. I'll have a think how to do that. Please let me know if you have any comments. I am still not sure the best way to style the preview card.

[2020-05-05 08:53] raae commented on #100
I was thinking per provider. In the same way we have for other provider specific settings. I have a lot going right now, but will try to have a look at your POC before the end of the week.

[2020-05-14 03:31] hesamalavi opened #102 "<div> cannot appear as a descendent of <p>"
When running gastby-remark-oembed-mdx in local host, I get the following error, and only on the -mdx and not -md:
`index.js:2177 Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>.
    in div (created by MDXCreateElement)
    in MDXCreateElement (created by MDXContent)
    in p (created by MDXCreateElement)
    in MDXCreateElement (created by MDXContent)
    in wrapper (c

[2020-08-24 23:48] carstenblt opened #104 "Instagram links fail"
Instagram is switching to a new API requiring registration and apparently they already stopped working. Building fails with

`Error: Request failed with status code 400`

[2020-08-25 09:07] aliwilson commented on #104
+1 i'm also having the same issue with this.

[2020-08-26 05:59] raae commented on #104
That kind of goes against the whole oembed vibe 😠

Looked at their new docs and it says its not supposed to be deprecated until October 24th. So hopefully it will get back up and I have time to figure something out.

[2020-08-26 06:24] raae commented on #104
It seems the endpoint in the oembed list has been updated to the new endpoint and is therefore requiring an access token giving us 400.

I think this can be fixed by overriding the url to the soon to be deprecated oembed url:

[code]

or get an access token and add that to settings:

[code]

I cannot test this until tonight.

[2020-10-08 15:50] iljapanic commented on #66
Apologies for bumping up an old issue. Has this ever been fixed?

[2020-10-11 03:52] nickytonline opened #107 "Consider lazy loading iframes"
## Description

Currently `<iframes />` are rendered for embeds, e.g. a YouTube video. Consider lazy loading `<iframes />`. Although it currently isn't supported in all browsers, the ones that do will receive a performance benefit.

If you're good to go with this feature request, I would like to be assigned to it. Thanks again for such a great plugin for Gatsby @raae! 👏🏻

## Additional Resources

[2020-10-12 05:27] #69 closed

[2020-10-12 05:30] raae commented on #66
No, there were some issues in gatsby-plugin-mdx that might have been resolved by now. It would be nice if someone could test it.

[2020-10-12 11:35] nickytonline opened #108 "Rename spec transformLinkNodesToOembedNodes.js with .test.js in extension so it's picked up."
## Description

Currently the tests for transformLinkNodesToOembedNode.js are not being picked up. The spec transformLinkNodesToOembedNodes.js needs to be renamed to transformLinkNodesToOembedNode.test.js so it's picked up.

[2020-10-13 20:03] philsturgeon commented on #104
Tried adding access token but still seeing 401.

[code]

[2020-10-15 05:42] raae commented on #104
Great news @philsturgeon, would you be willing to add a not about this in the documentation (readme.md)?

[2020-10-15 05:44] #108 closed

[2020-10-15 10:13] philsturgeon commented on #104
@raae will do, but first I'm confused. Using the old API does seem to work for now: https://api.instagram.com/oembed/?url=https://www.instagram.com/p/B5SYlkZFTBY

It really seems like
[code]

should work if thats how you make `https://api.instagram.com/oembed/?url=foo` happen.

[2020-10-15 10:22] raae commented on #104
Somewhere I found info that the old api will be turned off sometime this month.

So in the docs we can go for the access token solution. And feel free to let people now it's a pain to get access.

I am quite furious with Instagram closing of whatbos supposed to be an open standard...

[2020-10-15 12:16] philsturgeon commented on #104
Here you go: https://github.com/raae/gatsby-remark-oembed/pull/110

Yeah I'm pretty annoyed too. They said they'd deprecate it OCt 24th then just shut shit down before that. Even if this happened on 24th, "responding with a 400" is not deprecating, that's bricking it.

I wrote up a tutorial a) ranting, b) explaining how to do this nicely without hardcoding tokens in the repo: https://phil.tech/202

[2020-10-19 11:29] raae commented on #104
I am not completely sure adding the url param works, so it might be using the new address and I am guessing then it would return 400 when no access token?

[2020-10-19 11:30] #107 closed

[2020-10-23 06:09] raae opened #111 "Warning when no instagram access token"
Give the user a warning when there is an Instagram link, but no Instagram access token.

Related to #110

[2020-10-27 03:58] nickytonline opened #113 "Remove the bluebird package"
[Promises](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise) have been in Node.js since I believe version 6 so a package like Bluebird, is not necessary.

[2020-10-28 20:21] #113 closed

[2020-10-28 20:42] raae commented on #66
This seems to be working locally for me now, will investigate further.

[2020-10-28 20:50] raae opened #115 "Long term: Pull out generic oEmbed code so its possible to use as base for other plugins"
There would probably be a need for such a plugin in NextJs, Eleventy etc. and it would be nice with a common base package they could all depend on.

[2020-10-28 20:56] raae opened #116 "Epic: Restructure"
It was quite new to Node when making this plugin and tried to take a functional programming approach.

Long time since I thoroughly looked at the code, but I remember it being in need of some easier to follow structuring.

This would also set "making a seperate oEmbed package" (#115) up for more success.

[2020-10-28 20:59] raae opened #117 "Caching of responses from the provider"
If the link has already been resolved into its oEmbed counterpart we should not request it again for the build.

Also would there be any way to cache this between build?

[2020-10-29 02:30] nickytonline commented on #113
Part of the work for #116.

[2020-10-29 02:48] nickytonline opened #119 "Consider removing Axios in favour of node-fetch"
`fetch` is not native in Node yet (I think they're working on it), but there is [node-fetch](https://www.npmjs.com/package/node-fetch).

It has a way smaller footprint than Axios and the extra stuff Axios provides is not required in the project from what I can tell. This change would also require pulling out the `axios-mock-adapter` package and replacing it with most likely [jest-fetch-mock](https

[2020-10-29 03:02] nickytonline opened #120 "Consider adding lint-staged to be used with husky for a Git pre-commit hook"
It's great that the project is already using the husky package for Git hooks. Currently there is a Git pre-push hook. Consider a pre-commit hook using lint-staged. Having a pre-commit hook can lint (potentially fix issues), run prettier and also be able to run tests related to the files being changed.

For an example of this in the wild, see https://github.com/forem/forem/blob/master/package.json#

[2020-10-29 03:11] nickytonline opened #121 "Consider adding the Dependabot app to the project"
Consider adding the Dependabot app to the project to manage dependency updates. Dependabot can create pull requests, rebase if necessary etc and will run through CI like any PR which will lessen the burden of keeping up to date with packages used in the project.

Check out the [official Dependabot\(https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/) post about being

[2020-10-29 07:39] raae commented on #119
I just really like working with Axios ;D

[2020-10-29 07:41] raae commented on #121
Is it not? I do have some PRs merged from them.

[2020-10-29 07:42] raae commented on #120
Yeah, that would be great!

[2020-10-29 11:40] nickytonline commented on #121
Ahh that's my bad. For some reason I didn't think it was on the repo. I'll close this then.

[2020-10-29 11:40] #121 closed

[2020-10-29 19:23] raae opened #122 "Add instagram access token to example sites"
I think I have some old facebook apps I could use for this.

[2020-10-29 19:40] raae opened #123 "Align the format scripts and prettier configs"
So that one can get correct formatting on save in for instance vscode.

It seems prettier and the options set in format scripts are not the same.

[2020-10-29 19:58] raae opened #124 "Setup mdx example site to Netlify"
Depends on #122

Similar to #97

[2020-10-30 03:10] nickytonline opened #125 "Fix format command in gatsby-remark-oembed package folder"
## Description

`npm run format` runs prettier, but it never writes the changes. It only outputs them in the console. The reason being is there is an unnecessary extra `--`.

[2020-10-30 06:57] raae opened #128 "Add Instagram hack?"
Should we create a hack for Instagram that skips using their oEmbed endpoint?

It would consist of getting the post's id using the schema from the provider list, and then just fill in the html that would have been returned by the oEmbed endpoint.

[2020-10-30 07:22] raae opened #129 "Something is up with Twitch embeds"
They are not being embedded in the example sites, neither locally or on Netlify.

[2020-10-30 07:32] raae commented on #124
Closed by #127, the site can be found on [gatsby-remark-oembed-mdx.netlify.com](https://gatsby-remark-oembed-mdx.netlify.app/)

[2020-10-30 07:33] #124 closed

[2020-10-30 08:24] #125 closed

[2020-10-30 08:29] raae commented on #123
According to Prettier [docs](https://prettier.io/docs/en/cli.html):

So I am thinking lets use default prettier on the whole code base.

[2020-10-31 09:38] raae opened #131 "Move Instagram throw error when finding an instagram embed"
The core design of the plugin is that its very forgiving. If something cannot be embedded we display the link as it. It should not stop the build if there are errors with individual embed links.

[2020-10-31 09:48] raae opened #133 "New release"
New release with support for mdx and error handling for missing Instagram access_token.

[2020-10-31 09:50] raae commented on #133
I am thinking we move from 0.1.1 to 0.2.0 as there are no breaking changed made by us.

[2020-10-31 09:54] #123 closed

[2020-10-31 09:55] raae opened #134 "Add pull request template"
https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository

[2020-11-02 02:45] nickytonline commented on #102
@hesamalavi, thanks for reporting this. Would you like to work on this issue?

[2020-11-02 02:48] nickytonline commented on #119
I'll close this then @raae.

[2020-11-02 02:48] #119 closed

[2020-11-02 06:31] raae opened #135 "Add mdx support documentation"
Should be in place before #133

[2020-11-02 06:59] raae commented on #129
v5 of Twitch API is deprecated and it seems v6 does not have oEmbed support.

iamcal/oembed#437

[2020-11-02 07:38] dpi commented on #129
xpost https://discuss.dev.twitch.tv/t/oembed-deprecation/24424/3?u=dpi

[2020-11-03 06:42] raae commented on #66
MDX works!

It would be great if someone could help add a note about this in the docs and also an example configuration and a new release will happen shortly, see #135.

[2020-11-03 07:03] raae opened #136 "Logo"
I see all the cool kids have logo and stickers.

I'll pay for stickers to be sent to contributors if we had a good logo.

[2020-11-03 10:25] raae commented on #136
I would like something friendly, not overly techy...

[2020-11-03 12:25] M0nica commented on #129
Should this plugin deprecate Twitch in light of this update from Twitch? It seems, from what I am reading, since their oEmbed functionality wasn’t publicly documented it was quietly deprecated on their end.

[2020-11-03 13:50] raae commented on #129
The plugin uses the official list over on oembed.com, but it seems that Twitch should be removed from that list and then this project should remove all references to Twitch.

Just makes me so sad that oEmbed support is being dropped.

[2020-11-03 16:57] santiyounger commented on #135
really excited to see how it works with mdx, this is amazing can't wait to try it out on my mdx gatsby site
Thanks for the hard work!

[2020-11-04 07:11] raae commented on #129
Would you like to do it @M0nica?

Add a PR for the removal of Twitch at https://github.com/iamcal/oembed and then add a notice in our docs.

[2020-11-04 22:20] nickytonline commented on #128
`hack`, sounds like a hack.😄

For the Instagram options, if there is no access token present, we can skip the oEmbed endpoint with perhaps a warning that no token was provided or some kind of message like that.

This way, it doesn't cause any friction for folks currently using the embed and if they provide a token, then that's good too.

Another idea could be an option called `useAccessToken` and

[2020-11-04 22:20] nickytonline commented on #128
Also, now I know why my embeds for IG aren't working. 😄

[2020-11-05 06:13] raae commented on #128
The solution I have so far in #132 is that it skips fetching if there is no access token, and prints an error to the console. But it does not stop the build.

The PL needs a look and if you like it then it can be merged and closed.

[2020-11-05 06:17] raae commented on #128
I agree a hack will just bloat the plugin, there is now a problem with Twitch oEmbeds as well.

[2020-11-05 06:37] raae commented on #129
I created a PR over in the oEmbed repo iamcal/oembed#495.

[2020-11-05 07:14] #129 closed

[2020-11-06 08:45] hesamalavi commented on #102
Hey @nickytonline , I would love to, I am not that technical though :D, wouldn't even know were to start. And it would be my first open source anything. Any suggestions?

[2020-11-09 03:34] nickytonline opened #139 "Improve test coverage for tranformsLinkNodeToOembedNode.js"
## Description

Currently, code coverage for tranformsLinkNodeToOembedNode.js is pretty low (63.64%). Not that we're striving for [100% code coverage](https://martinfowler.com/bliki/TestCoverage.html), but looking at it, it seems like the coverage could go up drastically if other branches in the code of that file are hit during tests.

[code]

[2020-11-10 17:34] raae opened #140 "Improve performance in `getProviderEndpointForLinkUrl`"
The code in this function has three nested loops, so it's [*O(n<sup>3</sup>)*](https://en.wikipedia.org/wiki/Time_complexity) (cubic time). We can probably improve upon this.

_Originally posted by @nickytonline in https://github.com/raae/gatsby-remark-oembed/pull/132#discussion_r519533630_

[2020-11-10 17:46] raae commented on #140
We do have a step where the provider list is prepped for use, maybe change the structure of it so its easier to match url with schema.

Ie. going from this:

[code]

to this:

[code]

Then we could loop through once per oEmbed link, and can break out of the loop as soon as we find it.

[2020-11-11 19:38] #131 closed

[2020-11-12 06:26] raae opened #142 "Move to GitHub actions form Travis?"
I have very little experience with these types of things. But it would be nice to keep having tests run automatically on Pull Requests.

But also some automated release flow. When a tag is made it triggers pushing the package (and later packages) to npm.

[2020-11-13 07:28] #122 closed

[2020-11-13 07:47] #111 closed

[2020-11-13 07:48] raae commented on #117
I see that [got](https://www.npmjs.com/package/got), that would substitute axios, has caching support built in.

[2020-11-13 09:50] wooorm opened #143 "Use without Gatsby"
Hi all! I’m coming here as the maintainer of remark et al, and would like to see a standalone project, for example so that it can be used directly with remark, but also for example with [Next](https://nextjs.org) or [MDSveX](https://github.com/pngwn/MDsveX).
It seems like there’s only a small layer of Gatsby-specific code here?

For the remark part, there are certain Gatsby-esque things in this pr

[2020-11-14 06:52] raae commented on #143
Hello,

Yes I would love to that. The plan is to get the oEmbed code into its own module, then a remark module and then use those as the foundation for plugins for different frameworks (Next, Gatsby, Eleventy, etc).

I will take closer look at AST and make sure we comply when we get to this work. Would love to get some review of the code when we get there, or contributions. I have limited time ava

[2020-11-14 06:54] raae commented on #143
Totally accidental closing of this issue...

[2020-11-14 07:02] raae commented on #143
Am I correct in thinking that it would be better if the node got replaces with something different than the html type.

So if its an iframe, make the `type: element` and the `tagName: iframe` etc. So that `hast-util-embedded` would return true?

[2020-11-14 07:43] wooorm commented on #143
Correct!

The typical flow is:

- parse a document into mdast
- do things on mdast nodes
- turn mdast into hast
- do things on hast nodes
- turn the hast into whatever: serialized javascript (MDX), React nodes (react-markdown / rehype-react), Vue/Svelte etc, or serialized HTML (rehype-stringify)

In unified, these steps are up to users ([see for example this codesandbox](https://codesandbox.io/s/r

[2020-11-14 11:49] raae commented on #143
Thank you for all this info! Will try to test some of this out :D

[2020-11-18 15:04] wooorm commented on #143
Cool Benedicte! Let me know if I can be of help!

[2020-11-19 18:25] raae opened #144 "Add pluginOptionsSchema"
New feature is out from Gatsby: [pluginOptionsSchema](https://www.gatsbyjs.com/docs/configuring-usage-with-plugin-options/#how-to-validate-plugin-options).

[2021-01-04 10:32] raae commented on #143
Looking at this first quarter of 2021 I see I do not have much time. Will hopefully start splitting the projects up into reusable components. But this work will be postponed until April.

[2021-01-04 10:33] raae opened #145 "Create a new release"

[2021-01-05 01:01] danielimmke opened #146 "trim option should exclude <pre>"
Using this without `trim: true` causes errors but with trim true it messes up stuff inside `<pre>` elements, which are supposed to retain their white space. I can try to put in a PR for this if you will merge it.

[2021-01-05 01:06] danielimmke commented on #146
Whoops - wrong repository! I have too many tabs open.

[2021-01-05 01:06] #146 closed

[2021-01-05 07:45] raae commented on #146
No worries, you are welcome to contribute at any time though :D

[2021-01-23 20:57] kennethormandy commented on #45
This seems to have resurfaced for me. It seems like requesting the CodePen URL always returns a 403 and hits the Cloudflare captcha form page. I’m seeing it when I try to regenerate the test sites in this repo, and my own sites. I’ve tried it locally and via CI with GitHub Actions, so I don’t think it’s specific to me.

<img width="1066" alt="Screen Shot 2021-01-23 at 12 33 19 PM" src="https://use

[2021-01-24 15:32] raae commented on #45
Its not much the plugin can do when the oEmbed endpoints does not answer correctly.

Hardcoding the code that it should answer with (for instance) kind of go again the whole oEmbed concept.

I am however planning a major overhaul of this plugin this spring and will look at ways to possibly solve cases like this.

[2021-02-01 09:29] YoranBrondsema commented on #145
Yes please! Anything I can do to get the Instagram fix into a new release?

[2021-02-03 07:18] raae commented on #145
A new release does not fix Instagram, one has to add an access_token to the Setting to do so. See the [updated readme](https://github.com/raae/gatsby-remark-oembed).

I should of course also get on with making a new release as well.

[2021-02-03 08:25] raae commented on #145
I see that the order of Instagram endpoints have been changed in the provider list this plugin rely on, meaning the deprecated endpoint is now favoured. I do not understand why it is in there at all, I will make a PR against @iamcal/oembed.

So even with adding an access_token it will be broken right now.

I am thinking more and more that I might need to keep my own vetted list, or get more involv

[2021-02-03 08:56] raae commented on #45
I asked again on Twitter what they are up to @kennethormandy.

https://twitter.com/raae/status/1356888855878787072

[2021-02-03 10:56] YoranBrondsema commented on #145
I agree, it's confusing that in https://github.com/iamcal/oembed/blob/1db773d2665db51101776744f04a0a15b0086bdc/providers/instagram.yml a same URL can match multiple endpoints.

It does seem like the schemes in @iamcal/oembed are sorted by order of preference though. So the first match should be the "correct" one. If that's the assumption, then it would make sense to rewrite https://github.com/raae

[2021-02-03 18:48] raae commented on #145
The deprecated endpoint has been removed (https://github.com/iamcal/oembed/pull/515), it should be reflected in the provider list within an hour and Instagram embed should work again if you provide an access_token.

[2021-02-03 18:50] raae commented on #145
@YoranBrondsema I would like to do a complete refactor of the code you reference as this was my first ever node project and I have learned a lot since then. Therefore I do not think we need to update this now as all providers should have only one match.

However when I get around to diagramming the refactor and roadmap for this plugin I would love to have you contribute.

[2021-02-03 19:43] #66 closed

[2021-02-03 20:30] YoranBrondsema commented on #145
@raae Sounds good! Thanks for following up on the issue on https://github.com/iamcal/oembed.

[2021-03-11 15:14] vincro opened #149 "Twitter Embed - Missing blockquote.twitter-tweet"
per instructions at the bottom of the page:

https://developer.twitter.com/en/docs/twitter-for-websites/embedded-tweets/overview

the rendered `blockquote` does not have the `twitter-tweet` class, and so then `twttr.widgets.load()` is called as it is in the gatsby-browser.js file of the plugin, it doesn't end up being styled.

[2021-03-11 15:21] vincro commented on #149
Discovered the HTML from the JSON response was being put through a sanitizer

[2021-03-11 15:21] vincro commented on #149
Discovered the HTML from the JSON response was being put through a sanitizer =)

[2021-03-11 15:21] #149 closed

[2021-03-12 07:31] raae commented on #149
Happy you figured it out 🎉

[2021-09-18 16:48] mono0x commented on #66
I have tried to run `gatsby-remark-oembed-mdx-site` according to the README, but it didn't work properly. The URLs weren't transformed.

`package-lock.json` is following.

https://gist.github.com/mono0x/3183e08da4ff23978da746a44f7d0b2f

![image](https://user-images.githubusercontent.com/231380/133896072-b0781d56-9292-4a37-929e-6fecb2f48bd5.png)

[2022-04-08 09:10] daiyanze commented on #66
Hi @raae . It seems for MDX the issue is still there. As you mentioned `onPreBootstrap` is not invoked by `gatsby-plugin-mdx`. Thought we could simply invoke `onPreBootstrap` hook to set cache together with the default export function from `index.js`.

Btw, is this project paused?

---
Here's the workaround I mentioned above. Hope this can help those who still wants to use this plugin.

My approac

[2022-04-10 13:18] raae commented on #66
It has kind of been paused, but I have plans to revive it after easter. I am now much more skilled in Gatsby and plugins so will probably be a major rewrite 🤪

[2022-04-10 14:55] #120 closed

[2022-04-11 07:53] raae commented on #66
Support in the next branch, help test and discuss https://github.com/queen-raae/gatsby-remark-oembed/discussions/159

[2022-04-11 07:54] raae commented on #145
Working on it, help test the next version - see https://github.com/queen-raae/gatsby-remark-oembed/discussions/159

[2022-04-26 10:14] raae commented on #102
I found the issue, we are replacing the link node and not the paragraph node. Therefore the oEmbed html becomes the child of the paragraph.

[2022-04-26 10:15] raae opened #160 "Transforms links that are list items"
[code]

Should not transform links in a list like the one above.

[2022-04-26 10:16] raae commented on #160
We looked for standalone links in all paragraphs when no prefix configured. Should only look for standalone links in root paragraphs.

[2022-04-26 10:38] raae opened #162 "Transforms links that are image links"
[code]

Should not be transformed.

It happens because we look for links inside root paragraphs, but do not check it they themselves do not contain nodes.

[2022-04-26 10:39] raae commented on #142
Managed to remove all ties to Travis!

[2022-04-26 16:34] raae-bot opened #163 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `next` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-04-28 07:57] #160 closed

[2022-04-28 07:57] #162 closed

[2022-05-26 09:17] mayanksharma1133 commented on #128
how to hack Instagram id
link

[2022-05-31 18:23] raae commented on #128
[code]